$sizes: (sm : 16px, md : 24px, lg: 48px, gnt: 64px);

@import './icondata.scss';

@each $key, $value in $iconData {
  .icon-#{$key} {
    width: 20px;
    height: 20px;
    background-size: contain;

 -webkit-mask: url($value) no-repeat center;
  mask: url($value) no-repeat center;
  }
}

.icon {
    @each $size, $value in $sizes {
     &-#{$size} {
        * {
            width: $value;
          height: $value;
        }
     }
    }
}
img.icon {
    @each $size, $value in $sizes {
     &-#{$size} {
    
            width: $value;
          height: $value;
        
     }
    }
}

