.search-page {
     display: grid;
     grid-template-columns:  minmax(20%, 200px) auto;

     .courses {
          padding-right: 3em;
          gap: 1em;
     }
     .courses-list {
     }
     
     .navigation-bar {
          position: sticky !important;
          height: fit-content;
          top: 20px;
          min-width: 200px;  
          @media screen and (max-width: 900px) {
          min-width: 30px;
          }
     }

     .details {
     padding: 3em;
     }
}
@media only screen and (max-width: 900px) {
     .search-page {
          grid-template-columns: auto auto;
          &:first-child {
               font-size: 18px;
          }
          .navigation-bar {
               p > * {
                   font-size: 12px !important;
               }
               position: static !important;
          }
     }
}
@media only screen and (max-width: 620px) {
     .search-page {
      
          grid-template-columns: 1fr;
     }
}
.search-button-text {
     &::after {
          padding-left: 1em;
          content: "Find A Course";
     }
}
@media only screen  and (max-width: 1075px) {
  .search-button-text {
    &::after {
      content: "" !important;
    }
  }
}