
.page-numbers {
  font-size: large;
  padding: 0 0.5em;
 
}

.pagination-icons {
  

/* C4C4C4 */
a {

 background: transparent !important;
}
a * {
 width: 12px;
 height: 12px;
}

}
.page-numbers:last-of-type {
}


.page-numbers.current {
     background-color: $blue;
     border-radius: 8px;
     color: white;
     padding: 0.5em 0.7em;
}